.head_split {
    max-width: 1010px;
    margin: 0 auto;
    height: 48px;
    background: #5682a3;
}

.chat_split {
    background: #fff;
    max-width: 1010px;
    min-width: 300px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 0 #dfe5ec;
    -moz-box-shadow: 0px 1px 0 #dfe5ec;
    box-shadow: 0px 1px 0 #dfe5ec;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    overflow: hidden;
}