.login_page_wrap {
    background: #e7ebf0;
    height: 100%;
}

.login_page {
    margin: -131px auto 40px;
    max-width: 404px;
}

.login_head_bg {
    background: #5682a3;
    width: 100%;
    height: 226px;
}

.login_head_wrap {
    height: 75px;
}

.login_head_logo_link {
    display: inline-block;
    line-height: 30px;
    padding: 23px 15px 22px;
}

.icon-tg-logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    background-repeat: no-repeat;
    background-position: -5px -10px;
}